<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Toutes">
    </md-tab>
    <md-tab label="Récentes">
    </md-tab>
    <md-tab label="Favorites">
    </md-tab>
</md-tabs>
<md-content class="md-padding">
    <md-grid-list md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="2:2" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
        <md-grid-tile class="green">
            <md-grid-tile-footer>
                <h3>Recette #1</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green">
            <md-grid-tile-footer>
                <h3>Recette #2</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green">
            <md-grid-tile-footer>
                <h3>Recette #3</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green">
            <md-grid-tile-footer>
                <h3>Recette #4</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green">
            <md-grid-tile-footer>
                <h3>Recette #5</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green">
            <md-grid-tile-footer>
                <h3>Recette #6</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green">
            <md-grid-tile-footer>
                <h3>Recette #7</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green">
            <md-grid-tile-footer>
                <h3>Recette #8</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green">
            <md-grid-tile-footer>
                <h3>Recette #9</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green">
            <md-grid-tile-footer>
                <h3>Recette #10</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green">
            <md-grid-tile-footer>
                <h3>Recette #11</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green">
            <md-grid-tile-footer>
                <h3>Recette #12</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green">
            <md-grid-tile-footer>
                <h3>Recette #13</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green">
            <md-grid-tile-footer>
                <h3>Recette #14</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green">
            <md-grid-tile-footer>
                <h3>Recette #15</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green">
            <md-grid-tile-footer>
                <h3>Recette #16</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green">
            <md-grid-tile-footer>
                <h3>Recette #17</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</md-content>